body {
    display: flex;
    justify-content: center;
  }
  .main-container {
    display: flex;
    width: 1200px;
  }

/*  GENERAL  */
ul {
    list-style-type: none;
  }
  h1,
  h2 {
    text-transform: uppercase;
  }
/*  ASIDE */
aside {
    background-color: #ACACAC;
    flex-basis: 25%;
    margin-right: 20px;
    padding: 0 10px;
  }
  aside * {
    color: white;
  }
  aside h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  aside section h2:first-child{
    border-bottom: 2px solid white;
  }
  #profile-pic {
    text-align: center;
  }
  #profile-pic img{
    border-radius: 50%;
    width: 200px;
  }
/* DL */
dl {
    display: flex;
    flex-wrap: wrap;
  }
  dt,
  dd {
    line-height: 1.5em;
    border-top: 1px solid white;
    flex-basis: 40%;
    margin: 0;
  }
  dt:last-of-type,
  dd:last-of-type {
    border-bottom: 1px solid white;
  }
  dt {
    font-weight: bolder;
  }
  /* MAIN */
  .hero{
    background-color: #E2C547;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 2px 2px 40px 10px #CDD1CC ; 
  }
  .hero h2 {
    color: white;
    border-top: 2px solid white;
    letter-spacing: 10px;
  }
.hero h1 {
  letter-spacing: 10px;
}
.sobre-mi p {
    line-height: 2em;
    background-color: #C2DDC8;
    padding: 5px;
  }